img {
    border-radius: 100%;
    height: 40px
}

.dataview {
  border: 1px solid slategray;
  border-radius: 10px;
  min-height: 400px;
  max-width: 80vw;

}

.topOfBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin-left: 10px;
}

.refresh {
  font-family: 'Hind';
  font-size: 20px;  
  margin-right: 10px;
  margin-top: 10px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid slategray
}

.githubwatermark {
  opacity: 15%;
  height: 200px;
}

.watermark {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
