ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

li {
  list-style: none;

  input {
    display: none;
  }



  label {
    font-family: 'Hind';
    font-size: 30px;

    &:hover {
      color: red;
    }

  }
  
  input[type="radio"]:checked+label {
    color: blue
  }


  &:hover {
    cursor: pointer;
  }

  h2 {
    width: 200px;
    text-align: center;
  }

  h2:hover {
    background-color: slategrey;
    color: white;
  }
}